:root {
  --max-width: 48rem;
  --accent: #1b6eda;
  --bg-color: #faf8f8;
  --bg-alt-color: #fff;
  --text-color: #303942;
  --link-color: var(--accent);
  --button-bg-color: #efefef;
  --button-bg-hover-color: #dfdfdf;
  --button-text-color: var(--text-color);
  --border-color: #cdcaca;
  --code-color: #d63384;
  --error-color: #dc2626;
  --progress-bg-color: var(--accent);

  color-scheme: light dark;
  accent-color: var(--accent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: #8ab4f8;
    --bg-color: #202b38;
    --bg-alt-color: #161f27;
    --text-color: #e0e0e0;
    --link-color: var(--accent);
    --button-bg-color: #0c151c;
    --button-bg-hover-color: #040a0f;
    --border-color: #526980;
    --code-color: #ff67b3;
    --error-color: #fe5c5c;
  }
}

.noscript-banner {
  width: 100%;
  padding: 1rem;
  margin: 1rem auto 1.5rem auto;
  border-radius: 0.25rem;
  border: 1px solid var(--border-color);
  border-top: 0.1875rem solid var(--error-color);
  max-width: var(--max-width);
  background-color: var(--bg-alt-color);
  text-wrap: pretty;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  padding: 1rem;
  line-height: 1.5;
}

:is(h1, h2, h3, h4, h5, h6) {
  margin-bottom: 1rem;
  font-weight: 400;
}

p {
  font-weight: 400;
  margin-bottom: 1rem;
}

h3 {
  font-weight: 500;
  margin-bottom: 0.75rem;
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  max-width: var(--max-width);
}

.btn {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--border-color);
  line-height: 1.5;
  font-size: 1rem;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  transition: background-color 0.1s linear;
}

.btn:hover {
  background-color: var(--button-bg-hover-color);
}

.btn:focus-visible {
  outline-color: var(--accent);
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  max-width: var(--max-width);
}

form div {
  flex: 1;
  min-width: 0;
}

@media screen and (max-width: 475px) {
  form {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  color: var(--text-color);
  background-color: var(--bg-alt-color);
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  appearance: none;
  -webkit-appearance: none;
}

.form-control:focus-visible {
  outline-color: var(--accent);
}

.result {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid var(--border-color);
  max-width: var(--max-width);
  border-radius: 0.25rem;
  background-color: var(--bg-alt-color);
}

.result:empty {
  display: none;
}

.actions {
  margin-bottom: 1rem;
}

.action {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 2.4rem;
  height: 2.4rem;
  line-height: 1;
}

.action svg {
  font-size: 1.125rem;
}

.info-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: -0.5rem 0 1rem 0;
}

.info-box svg {
  min-width: 1rem;
}

progress {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 0.625rem;
  border: 1px solid var(--border-color);
  border-radius: 50rem;
  background-color: var(--bg-color);
  overflow: hidden;
}

progress::-webkit-progress-bar {
  background-color: var(--body-bg-color);
  border-radius: 50rem;
}

progress::-webkit-progress-value {
  border-radius: 50rem;
  background: var(--progress-bg-color);
}

progress::-moz-progress-bar {
  border-radius: 50rem;
  background: var(--progress-bg-color);
}

pre {
  margin: 0 0 1rem 0;
}

code {
  color: var(--code-color);
  word-wrap: break-word;
  font-size: 1rem;
}

pre > code {
  border-radius: 0.25rem;
  border: 1px solid var(--border-color);
  font-size: 0.8125rem;
}
